body{
    background-color: #001E2B;
    color: white;
}

#immutabletitle{
    margin-left: 5%;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}

#title{
    margin-left: 5%;
    text-align: center;
    font-weight: 200;
    font-size: 50px;
    color: #00ED64;
    padding-top: 20px;
}

#title2{
    margin-left: 5%;
    text-align: center;
    font-weight: 400;
    margin-top: -10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}

#logo{
    padding-top: 20px;
    margin-left: 50%;
}

#funnyGIF{
    margin-left: 35%;
}

ul{
    list-style: none;
    margin-left: 45%;
}


h2{
    margin-left: 50%;
}
